.container{
    background-color: blue;
    height: 200px;
}
.bg1{
    background-color: aqua;
    height: 150px;
}

.bg2{
    background-color: antiquewhite;
    height: 150px;
}

.bg3{
    background-color: bisque;
    height: 150px;
}

.bg-fluid{
    background-color: blanchedalmond;
    height: 200px;
}
.container-fluid{
    background-color: brown;
    height: 200px;
}

.main-form{
    width: 600px;
    margin: auto;

}
table  ,form ,iframe {border: 1px solid black;}
th{width: 12%; border: 1px solid #ddd;}
td{width: 12%; border: 1px solid #ddd;}

